In [ ]:
!pip install dnspython
!-m pip install pymongo[srv]

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb://guvi123:guvi123@guvi.ia8zp.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

#creating a database and a collection, checking how many doucments are present there
db = client.get_database('phonedir')
records = db.phonedir
records.count_documents({})

Now we can perform the actual CRUD operations.

C-Create: 
Mongo store the data in the form of JSON objects. So every record for a collection in mongo is called a document. If the collection does not currently exist, insert operations will create the collection. We can insert the documents into collection in 3 ways.

1. insert_one()
2. insert_many()

**INSERT RECORD INTO THE COLLECTION**
1. insert_one(): insert_one() inserts a single document into a collection.

In [ ]:
col.insert_one(
   {
      Name: "Name1",
      Phonenumber: 123456789 ,
      Place: "Mumbai"
   }
)

2. insert_many(): insert_many() inserts multiple documents into a collection.

In [ ]:
col.insert_many(
   [
     { Name: "Name2", Phonenumber: 1234567891, Place:"Kolkatta"},
     { Name: "Name3", Phonenumber: 1234567892, Place:"Delhi"},
     { name: "Name4", Phonenumber: 1234567893, Place:"Chandigarh"}
   ]
)

**TO FIND RECORDS WE CREATED**


R-Read:
We can retrieve the documents from the collection using the following methods.

1.   find()
2.   find_one()

In [ ]:
col.find() # will return all the documents from the collection

In [ ]:
col.find_one() # will return the first document in the collection

In [ ]:
col.find_one({"Name": "Name2"})

U- Update:
We can update the documents from the collection with the following methods.

1. update()
2. update_one()
3. update_many()
4. replace_one()

In our case, we are using the update_one() method, which requires two arguments, query and update

In [ ]:
col.update_one({"Name":"Name1"}, {"$set":{"Name":"Joseph"}})

D- Delete:
We can delete the documents in the collection using  the following methods.

1. delete_one()
2. delete_many()

In [ ]:
col.delete_one({"name":"Namee3"})