In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Step 2: Importing dataset**

In [17]:
dataset = pd.read_csv('Data.csv')

In [18]:
print(dataset.shape)
dataset

(10, 4)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
dataset.describe()

In [ ]:
dataset.corr()

**Step 3: Handling the missing data**

In [19]:
#dataset.info()
#dataset.isnull().sum()

df = dataset
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Salary']=df['Salary'].fillna(df['Salary'].mean())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        10 non-null     float64
 2   Salary     10 non-null     float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

**Step 4: Encoding categorical data**

In [29]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Purchased'] = le.fit_transform(df['Purchased'])
df['Country'] = le.fit_transform(df['Country'])
newdf = df
newdf

   Country        Age        Salary  Purchased
0        0  44.000000  72000.000000          0
1        2  27.000000  48000.000000          1
2        1  30.000000  54000.000000          0
3        2  38.000000  61000.000000          0
4        1  40.000000  63777.777778          1
5        0  35.000000  58000.000000          1
6        2  38.777778  52000.000000          0
7        0  48.000000  79000.000000          1
8        1  50.000000  83000.000000          0
9        0  37.000000  67000.000000          1

**Step 5: Creating a dummy variable**

In [28]:
#newdf = pd.DataFrame({'Country' : ['France','Spain', 'Germany'],})
#newdf 
#pd.get_dummies(newdf)
#newdf

   Country
0   France
1    Spain
2  Germany

**Step 6: Splitting the datasets into training sets and Test sets**

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X = newdf.iloc[:, :-1].values 
y = newdf.iloc[:, 1].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 23)

**Step 7: Feature Scaling**

In [31]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)